{
    {% if docker_config.proxy.enable == true %}
    "proxies": {
        "http-proxy": "{{ docker_config.proxy.http_url }}",
        "https-proxy": "{{ docker_config.proxy.https_url }}",
        "no-proxy": "{{ docker_config.proxy.no_proxy_url }}"
        },
    {% endif %}
    {% if docker_config.logging.enable == true %}
    "log-opts": {
        "labels": "{{ docker_config.logging.labels }}",
        "max-file": "{{ docker_config.logging.max_file }}",
        "max-size": "{{ docker_config.logging.max_size }}"
        },
    {% endif %}
    {% if docker_config.mirror_registry.enable == true %}
    "registry-mirrors": ["{{ docker_config.mirror_registry.urls }}"],
    {% endif %}
    {% if docker_config.insecure_registry.enable == true %}
    "insecure-registries": ["{{ docker_config.insecure_registry.urls }}"],
    {% endif %}
    {% if docker_config.experimental.enable == true %}
    "experimental": true,
    {% endif %}
    {% if docker_config.live_restore.enable == true %}
    "live-restore": true
    {% endif %}
}